#about{
    color:rgb(255, 106, 0);
  background-color: #696969;} 
  .div2
  {
      width: 100%;    
      position: relative;
      color:black;
      height: 500px;
      background-color: blanchedalmond;
     
  }
  .div2_1{
    position: relative;
       width: 100%;
       float: left;
      
       font-size: 15px;
  
   }
   .div2_1 h1{
    text-align: center;
    padding:15px ;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

 }
.div2_1 p{
padding: 5px 8px ;


font-family: Arial, Helvetica, sans-serif;
    
 }
 .div2_2{

position:relative;

float: right;

 }
 img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 40%;
    
   
    clip-path: circle();
  
   
  }
  .div3{
    background-image: url("mobile_img/test-bg.jpg") ;
    background-repeat:no-repeat ; 
    background-size: cover  ;
    width: 100%;
    height:600px}
    .div3 h1{
        position: relative;
        text-align: center;
        top: 3%;
      
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        font-weight: bold;
        color: white;   
    }
    .div3_1{
        background-color: blanchedalmond;
    height: 200px;    }
    .div3_1{
        position: relative;
        height: 200px;
        width: 80%;
        margin: 30px;
        border-radius: 10px;
       

    }
    .div3_1_1{
        position:relative;
        float: left;
        width: 30%;

    }
    .div3_1_1 img{
       
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   width: 100%;
   height: 100%;
 
    }    
    .div3_1_2{
        width: 70%;
        float: right;
    }   
    .div3_1_2 p{
        position: relative;
        padding: 15px 10px;
       color: #333;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 10px    }