#about{
    color:rgb(255, 106, 0);
  background-color: #696969;} 
  .div2
  {
      width: 100%;     position: relative;
      color:black;
      height: 70vh;
      background-color: blanchedalmond;
  }
  .div2_1{
    position: relative;
       width: 60%;
       float: left;
       padding: 1% 1%; ;
       font-size: 80%;
  
   }
   .div2_1 h1{
    padding: 5% 3%; 
    font-weight: bold;
    font-size: 175%;
    font-family: Arial, Helvetica, sans-serif;

 }
.div2_1 p{
    padding: 5% 3%;
   line-height: 1;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
 }
 .div2_2{
position:relative;
width: 40%;
float: right;

 }
 img{
    position: relative;
    top: 5vh;
    left: 0px;
    clip-path: circle();
    height: 40vh;
    width: 90%; 
  }
  .div3{
    background-image: url("mobile_img/test-bg.jpg") ;
    background-repeat:no-repeat ; 
    background-size: cover  ;
    width: 100%;
    height: 150vh}
    .div3 h1{
        position: relative;
        text-align: center;
        top: 3%;
      
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        font-weight: bold;
        color: white;   
    }
    .div3_1{
        background-color: blanchedalmond;
    height: 40vh;    }
    .div3_1{
        position: relative;
        top: 0;
        width: 90%;
        margin: 15% 5% ;
        border-radius: 10px;
       

    }
    .div3_1_1{
        position:relative;
        float: left;
        width: 30%;

    }
    .div3_1_1 img{
        position: relative;
        top: 2vh   ;
        left: 10%;
        height: 100%;
        width: 100%;
    }
    .div3_1_2{
        width: 60%;
        float: right;
    }   
    .div3_1_2 p{
        position: relative;
       padding: 5% 1% ;
       color: #333;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 60%;
    }