#about{
    color:rgb(255, 106, 0);
  background-color: #696969;}
 .div2
 {
     width: 100%;     position: relative;
     color:black;
     height: 400px;
     background-color: blanchedalmond;
 }
 .div2_1{
  position: relative;
     width: 60%;
     float: left;
     padding: 20px 90px;

 }
 .div2_1 h1{
    padding: 20px 15px;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

 }
.div2_1 p{
    padding: 10px 15px;
   line-height: 1.6em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
 }
 .div2_2{
position:relative;
width: 40%;
float: right;

 }
 img{
    position: relative;
    top: 40px;
    left: 0px;
    clip-path: circle();
    height: 300px;
    width: 300px; 
  }
  .div3{
    background-image: url("img/test-bg.jpg") ;
    background-repeat:no-repeat ; 
    background-size: cover  ;
    width: 100%;
    height: 600px;}
    .div3 h1{
        position: relative;
        text-align: center;
        top: 10%;
        padding: 30px 15px ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: white;
        
    }
    .div3_1{
        background-color: blanchedalmond;
    height: 150px;    }
    .div3_1{
        position: relative;
        top: 50px;
        width: 80%;
        margin: 40px 10%;
        border-radius: 10px;
       

    }
    .div3_1_1{
        position:relative;
        float: left;
        width: 15%;

    }
    .div3_1_1 img{
        position: relative;
        top: 10px    ;
        left: 10%;
        height: 125px;
        width: 125px;
       
      
    
      
    }
   .div3_1_2{
       width: 85%;
       float: right;
   }
   .div3_1_2 p{
       position: relative;
      padding: 40px 15px;
      line-height: 1.6em;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
   }