*{box-sizing: border-box; padding: 0; margin: 0;}
#contact{
    color:rgb(255, 106, 0);
  background-color: #696969;}
  .div2, form{
    background-color: blanchedalmond;

  }
  .div2 h1{
      position: relative;
      color: black;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
left: 9%;
padding: 5% 0px 0px 10px;
  }
  form{
    position: relative;
    
    text-align: left ; 
    font-size: 20px;
    font-weight: normal;
    height: 30%;
    padding: 15px 15px ;
}
form p{
 padding: 15px 0px; 
}
.input ,textarea{
  width: 80%;
  height: 30px;
margin: 5px 0px;    border: rgb(207, 209, 204) solid 2px;
}
textarea{
    height: 60px;
}

.div4{
  height: 120px;
  background-color: #333;
  color: white;
  padding: 15px;
}
  .div4-{
    width:33.33%;
  
  
    float: left;
    
    text-align: center;
    
  }
  .div4- h3{
  
    font-weight: bold;
    font-size: 15px;
    }
    .div4- p{
        line-height: 1.6em ; 
        font-size: 10px;
      }
      .fa-color{
        color: white;
        font-size: 20px;
    }